{{> header }}

<!-- content -->
<div class="slide v2 container container-content">

	<div class="js-slider-v3">
		<div class="slide-img v1">
			<img src="./statics/images/bg-slide-home1.png" alt="" class="img-responsive">
			<div class="box-center">
				<div class="img">
					<img src="./statics/images/slide-home.png" alt="" class="img-responsive">
				</div>
				<div class="text">
					<img src="./statics/images/text-home1.png" alt="" class="img-responsive">
					<p class="sliderp">Every season has a whole collection to reflect the spirit of it so you can feel it not
						just dress it </p>
					<a href="product-details.html" class="zoa-btn btn-viewthislook">VIEW THIS DRESS</a>
				</div>
			</div>
		</div>
		<div class="slide-img v1">
			<img src="./statics/images/bg-slide-home1.png" alt="" class="img-responsive">
			<div class="box-center">
				<div class="img">
					<img src="./statics/images/slide-home-two.png" alt="" class="img-responsive">
				</div>
				<div class="text">
					<img src="./statics/images/text-home2.png" alt="" class="img-responsive">
					<p>Style is something each of us already has, all we need to do is find it</p>
					<a href="product-details.html" class="zoa-btn btn-viewthislook">VIEW THIS T-SHIRT</a>

				</div>
			</div>
		</div>
		<div class="slide-img v1">
			<img src="./statics/images/bg-slide-home1.png" alt="" class="img-responsive">
			<div class="box-center">
				<div class="img">
					<img src="./statics/images/slide-home-three.png" alt="" class="img-responsive">
				</div>
				<div class="text">
					<img src="./statics/images/text-home3.png" alt="" class="img-responsive">
					<p class="sliderp">Be sure what you want and be sure about yourself. Fashion is not just beauty, it's
						about good attitude. You have to believe in yourself and be strong.</p>
					<a href="product-details.html" class="zoa-btn btn-viewthislook">VIEW THIS PANT</a>
				</div>
			</div>
		</div>
	</div>
	<div class="custom">
		<div class="pagingInfo"></div>
	</div>
</div>
<!-- End content -->
<div class="zoa-collection-2 pad">
	<div class="container container-content v1">
		<div class="row cate">

			<div class="col-md-6 col-sm-12 col-xs-12">
				<div class="row second">
					<div class="col-xs-12 col-sm-6 col-md-12">
						<div class="collection-img">
							<a href="" class="hover-images">
								<img src="./statics/images/home1/cate-1.png" alt="" class="img-responsive">
							</a>
							<div class="content text-left ">
								<h3>High QUALITY</h3>
							</div>
						</div>

					</div>
					<div class="col-xs-12 col-sm-6 col-md-12 text-right second-collection-mob">
						<div class="collection-img">
							<a href="" class="hover-images">
								<img src="./statics/images/home1/cate-2.png" alt="" class="img-responsive">
							</a>
							<div class="content text-left">
								<h3>Effective TOUCH</h3>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12 text-right second-image">
				<div class="collection-img">
					<a href="" class="hover-images">
						<img src="./statics/images/home1/cate-3.png" alt="" class="img-responsive">
					</a>
					<div class="content text-left  ">
						<h3>Age SUITABLE</h3>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="container container-content">
		<div class="text-h1 text-center">
			<h1>Best Products</h1>
		</div>
		<div class="row">

			{{#each data.bestProductsList}}
			<div id="{{id}}" class="col-xs-12 col-sm-12 col-md-3 col-lg-3 {{#ifCond stock_status '===' 1}}product-item{{/ifCond}}">
				<div class="product-img">
					<a class="product-link" {{#ifCond stock_status '===' 1}}href="/{{slug}}/?color={{default_color_slug}}"{{/ifCond}} target="_blank">
						<img src="{{colors.[0].images.[0].small_image_link}}" alt=""
							class="img-responsive wp-post-image product-first-image">
						<img src="{{colors.[0].images.[1].small_image_link}}" alt=""
							class="img-responsive image-effect product-second-image">
					</a>
					<div class="product-button-group ">
						<div class="quick-view">
							<a href="/{{slug}}/?color={{default_color_slug}}">MORE DETAILS </a>
						</div>
					</div>
				</div>
				<div class="product-info ">
					<div class="title-heart">
						<h3 class="product-title">
							<a href="/{{slug}}/?color={{default_color_slug}}">{{name}}</a>
						</h3>
						{{#ifCond ../data.user '!==' undefined}}
						{{#ifCond stock_status '===' 1}}
						<a class=""
							title="{{#ifCond isWishlisted '===' undefined}}add to wishlist{{else}}remove item{{/ifCond}}">
							<span data-wishlist-slug="{{slug}}"
								class="fa fa-heart{{#ifCond isWishlisted '===' undefined}}-o{{/ifCond}} wishlist-product"></span>
						</a>
						{{/ifCond}}	
						{{/ifCond}}	
						

						{{#ifCond ../data.user '===' undefined}}
						<a class=""
							title="add to wishlist">
							<span data-wishlist-slug="{{slug}}"
								class="fa fa-heart-o wishlist-product"></span>
						</a>
						{{/ifCond}}	

					</div>

					<div class="product-price">
						{{#ifCond price '!==' null}}{{#ifCond stock_status '===' 1}}<span>€{{price}}</span>{{/ifCond}}{{/ifCond}}
						{{#ifCond stock_status '!==' 1}}<span class="sold">SOLD OUT</span>{{/ifCond}}
					</div>
					<div class="color-group">
						{{#each colors}}
						<a class="product-color circle {{color_slug}} {{#ifCond @index '===' 0}}active{{/ifCond}}"
							data-product-color="{{color_slug}}"></a>
						{{/each}}
					</div>
				</div>
			</div>
			{{/each}}
			{{!-- <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 product-item">
				<div class="product-img">
					<a href="product-details.html" target="_blank"><img src="./statics/images/product/product_10_first.jpg" alt=""
							class="img-responsive wp-post-image">
						<img src="./statics/images/product/product_10_second.jpg" alt="" class="img-responsive image-effect"></a>
					<div class="ribbon zoa-sale"><span>-30%</span></div>
					<div class="product-button-group ">

						<div class="quick-view">
							<a href="product-details.html">MORE DETAILS </a>
						</div>
					</div>
				</div>
				<div class="product-info text-left">
					<div class="title-heart">
						<h3 class="product-title">
							<a href="">Womens Suit</a>
						</h3>
						<a class="" title="add to wishlist"> <span class="fa fa-heart-o"></span></a>
					</div>
					<div class="product-price">
						<span class="old">$124.35</span>
						<span class="old-1">$96.25</span>

					</div>
					<div class="color-group">
						<a href="#" class="circle gray"></a>
						<a href="#" class="circle black active"></a>

					</div>
				</div>
			</div> --}}
		</div>
	</div>
</div>
<div class="this-look padding-top-30">
	<div class="container  text-center">

		<div class="row">
			<div class="look-img hover-images ">
				<img src="./statics/images/home1/look.png" alt="" class="img-responsive">

			</div>
		</div>

	</div>
</div>

<div class="clients">
	<div class="container">
		<div class="row">
			<div class="about-brand pad ">


				<a><img src="./statics/images/home1/clients-6.png" class="img-responsive margin-auto hiero" alt="image"></a>
				<p class="hiero-translate">MADE IN SYRIA</p>
			</div>
		</div>
	</div>
</div>

<script>


  $(function () {

  var productListHash = createHash({{{ json data.bestProductsList }}}, 'id').data;
	var user = {{{ json data.user }}};
	
  $('.product-color').click(function () {
    var selectedElm = $(this);
    var selectedColor = $(this).attr('data-product-color');
    var isActive = $(this).hasClass('active');
    if (isActive) {
      return;
    }
    var productId = $(this).closest('.product-item').attr('id');
    var activeElm = $('#' + productId + ' .product-color.active');
    activeElm.removeClass('active');
    selectedElm.addClass('active');

    var selectedProductColorImages = productListHash[productId].colors.find(color => color.color_slug === selectedColor).images;
    var productFirstImage = $('#' + productId + ' .product-first-image');
    var productSecondImage = $('#' + productId + ' .product-second-image');
    selectedProductColorImages[0] && productFirstImage.attr('src', selectedProductColorImages[0].small_image_link);
    selectedProductColorImages[1] && productSecondImage.attr('src', selectedProductColorImages[1].small_image_link);

    var selectedProductSlug = productListHash[productId].slug;
    $('#' + productId + ' .product-link').attr('href', '/' + selectedProductSlug + '/?color=' + selectedColor)
  });

	$('.wishlist-product').click(function () {
    if(!user) {
      alert('please login first');
      return;
    }
    
    var _thisElm = $(this);
    var productSlug = _thisElm.attr('data-wishlist-slug');
    var isAlreadyWishlisted = _thisElm.hasClass('fa-heart');

    $.ajax({
      type: 'POST',
      url: '/wishlist/' + (isAlreadyWishlisted ? 'itemDelete' : 'itemCreate') + '',
      contentType: "application/json",
      data: JSON.stringify({
        slug: productSlug,
      }),
      success: function (data) {
        window.location.reload();
      }
    });
  });

});

</script>

{{> footer }}