{{> header }}

<!-- Account -->
<div class="account-form-wrapper">
  <div class="container">
    <div class="search-results-wrapper">
      <div class="btn-search-close">
        <i class="ion-ios-close-empty black"></i>
      </div>
    </div>
    <div class="account-wrapper">
      <div class="send-message">
        <h3>Have a Question ?
          Send us a message</h3>
      </div>

      <div class="tab-content">
        <div id="login" class="tab-pane fade in active">
          <div class="row">
            <div class="col-md-6 col col-login">
              <form method="post" class="form-customer form-register">
                <div class="form-group">
                  <label for="exampleInputEmail2">E-mail</label>
                  <input type="email" class="form-control form-account" id="user-email">
                </div>
                <div class="form-group">
                  <label for="zoaname2">Name</label>
                  <input type="text" class="form-control form-account" id="user-name">
                </div>
                <div class="form-group">
                  <label for="comment">Message</label>
                  <textarea name="text" type="text" class="feedback-input form-control" id="user-message"></textarea>
                </div>
                <div class="btn-button-group mg-top-30 mg-bottom-15">
                  <button type="submit" class="zoa-btn btn-login hover-white">Send</button>
                </div>
              </form>
              <p id="succes-message" class="hidden" style="color: #008c8c">Your message have been send successfuly. Thank You.</p>
              <p id="failure-message" class="hidden" style="color: #be0707">An error has been occured. Try again.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
<!-- End Account -->

<!-- Content -->
<div class=" container-fluid text-center breadcrumb-about">
  <h1 class="submenu">Product Page</h1>
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="products/?category={{data.product.category.slug}}">{{data.product.category.name}}</a></li>
    <li><a
        href="products/?type={{data.product.category_type.slug}}">{{data.product.category_type.name}}</a>
    </li>
    <li class="active">{{data.product.name}}</li>
  </ul>
</div>

<div class="container padding-top-30">
  <div class="single-product-detail v3 bd-bottom" data-product-id={{data.product.id}}>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        {{#each data.product.colors}}
        <div data-color-images-slug={{color_slug}}
          class="product-img-slide product-color-images {{#ifCond @index '===' 0}}active{{else}}hidden{{/ifCond}}">
          <div class="product-images">
            <div class="main-img js-product-slider-normal">
              {{#each images}}
              <a href="#" class="hover-images effect"><img src="{{image_link}}" alt="photo" class="img-responsive"></a>
              {{/each}}
            </div>
          </div>
          <div class="multiple-img-list js-click-product-normal">
            {{#each images}}
            <div class="product-col">
              <div class="img {{#ifCond @index '===' 0}}active{{/ifCond}}">
                <img src="{{thumbnail_image_link}}" alt="photo" class="img-responsive {{@index}}">
                <div class="bg"></div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
        {{/each}}
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 zoa-width2">
        <div class="single-product-info product-info product-grid-v2">
          <div class="row">
            <div class="col-12">
              <div class="col-md-10 padding-bottom-15">
                <h3 class="product-title"><a>{{data.product.name}}</a> </h3>
                <div class="row">
                  <div class="col-12">
                  <div class="col-md-4"><span class="chosen-color-code">{{data.product.colors.[0].product_color_code}}</span></div>
                    <div class="col-md-4 title-sec product-instock"><span></span><h4> instock</h4> </div>
                    {{#ifCond data.product.is_handmade '===' 1}}
                    <div class="col-md-4 title-sec product-instock"><span></span><h4> HandMade</h4> </div>
                    {{/ifCond}}
                  </div>
                </div>

              </div>
              <div class="col-md-2 single-product-detail-mob">
                <div class="single-product-button-group">
                  <div class="flex align-items-center element-button">

                    <a data-wishlist-slug="{{data.product.slug}}"
                      class="wishlist-product zoa-btn zoa-wishlist {{#ifCond data.product.isWishlisted '===' true}}active{{/ifCond}}">
                      <i class="zoa-icon-heart"></i>
                    </a>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="product-details-to-choose">
            <div class="product-price">
              {{#ifCond data.product.price '!==' null}}<span class="product-main-price">€{{data.product.price}}</span>{{/ifCond}}
            </div>

            <div>
              <div class="colors bd-bottom">
                <h4>Available Colors</h4>
                <div class="row">
                  <div class="col-12">
                    <div class="col-md-7 color-choices">
                      <div class="product-size">

                        <div class="size-group">
                          <div class="color-group1">
                            {{#each data.product.colors}}
                            <a data-color-slug="{{color_slug}}" data-color-name="{{color_name}}" data-color-code="{{product_color_code}}" class="circle color-option {{color_slug}} {{#ifCond @index '===' 0}}active{{/ifCond}}"></a>
                            {{/each}}
                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="col-md-5">
                      <h6 class="chosen-color">
                        Chosen Color : <span
                          class="chosen-color-name capitalize">{{data.product.colors.[0].color_name}}</span>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>

              <div class="sizes">
                <h4>Available Sizes</h4>
                <div class="row">
                  <div class="col-12">
                    <div class="col-md-12 size-choices">
                      <div class="product-size">
                        <div class="size-group">
                          <form action="">

                            {{#each data.product.sizes}}
                            <input type="radio" name="size" value="{{size_slug}}" data-size-name="{{size_name}}" data-size-price="{{size_price}}" />
                            <span class="select-size">{{size_slug}}{{#ifCond size_details '!==' null}}/{{size_details}}{{/ifCond}}</span>
                            {{/each}}

                            {{#each data.product.sizes}}
                            <div class="text size-details hidden"
                              data-size-details-slug="{{size_slug}}">
                              <table class="size-details">
                                <tr>
                                  <th class="first-th">TITLE </th>
                                  <td class="first-td">Cm / In</td>
                                </tr>
                                {{#ifCond chest '>' 0}}
                                <tr>
                                  <th></th>
                                  <td class="empty"></td>
                                </tr>
                                <tr>
                                  <th>Chest: </th>
                                  <td>{{chest}} / {{getInch chest}}</td>
                                </tr>
                                <tr>
                                  <th></th>
                                  <td class="empty"></td>
                                </tr>
                                {{/ifCond}}
                                
                                {{#ifCond waistline '>' 0}}
                                <tr>
                                  <th>Waist: </th>
                                  <td>{{waistline}} / {{getInch waistline}}</td>
                                </tr>
                                <tr>
                                  <th></th>
                                  <td class="empty"></td>
                                </tr>
                                {{/ifCond}}

                                {{#ifCond hips '>' 0}}
                                <tr>
                                  <th>Hips: </th>
                                  <td>{{hips}} / {{getInch hips}}</td>
                                </tr>
                                <tr>
                                  <th></th>
                                  <td class="empty"></td>
                                </tr>
                                {{/ifCond}}

                                {{#ifCond height '>' 0}}
                                <tr>
                                  <th>Height: </th>
                                  <td>{{height}} / {{getInch height}}</td>
                                </tr>
                                <tr>
                                  <th></th>
                                  <td class="empty"></td>
                                </tr>
                                {{/ifCond}}
                              </table>
                            </div>
                            {{/each}}
                          </form>
                        </div>

                        <div id="chosen-size-name" class="text-right chosen-size-margin hidden"><h6 class="chosen-size">Chosen size : <span id="chosen-size-text">{{data.product.sizes.[0].size_name}}</span></h6> </div>
                        
                      </div>
                    </div>
                  </div>

                </div>

              </div>
              <div class="clear bd-bottom">
                <div class="row">
                  <div class="col-md-6">
                    <button class="zoa-btn btn-message hover-white js-user">SEND MESSAGE</button>
                  </div>
                </div>
              </div>

              <div class="spec">
                <div class="details mg-bottom-30">
                  <h4>Details</h4>
                  <p>{{getSafeString data.product.details}}</p>
                </div>

                <div class="description">
                  <h4>Description</h4>
                  <p>{{getSafeString data.product.description}}</p>
                </div>

              </div>

              <div class="product-social">
                <label>Share:</label>
                <div class="social">
                 <!-- <a target="_blank" href="http://pinterest.com/pin/create/link/?url={{data.product.link}}"><i
                      class="fa fa-pinterest"></i></a>-->
                  <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{data.product.link}}"><i
                      class="fa fa-facebook"></i></a>
                  <a target="_blank" href="http://twitter.com/home?status={{data.product.link}}"><i
                      class="fa fa-twitter"></i></a>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>

<div class="container container-content you-may-like">
  <div class="product-related ">
    <h3 class="related-title text-center">MAY BE YOU LIKE</h3>
    <div class="owl-carousel owl-theme owl-cate v2 js-owl-cate">

      {{#each data.productListItems}}
      <div id="{{id}}" class="product-item">
        <div class="product-img">
          <a target="_blank" href="/{{slug}}">
            <img src="{{colors.[0].images.[0].small_image_link}}" alt=""
              class="img-responsive wp-post-image product-first-image">
            <img src="{{colors.[0].images.[1].small_image_link}}" alt=""
              class="img-responsive image-effect product-second-image"></a>
          <div class="product-button-group ">

            <div class="quick-view">
              <a target="_blank" href="/{{slug}}">View </a>
            </div>
          </div>
        </div>
        <div class="product-info ">
          <div class="title-heart">
            <h3 class="product-title">
              <a target="_blank" href="/{{slug}}">{{name}}</a>
            </h3>
            <a class="" title="add to wishlist"> <span class="fa fa-heart-o"></span></a>
          </div>
          <div class="product-price">
            {{#ifCond price '!==' null}}<span>€{{price}}</span>{{/ifCond}}
          </div>
          <div class="color-group">
            {{#each colors}}
            <div class="other-product-color circle {{color_slug}} {{#ifCond @index '===' 0}}active{{/ifCond}}"
              data-other-product-color="{{color_slug}}"></div>
            {{/each}}
          </div>
        </div>
      </div>
      {{/each}}

    </div>
  </div>
</div>

<script>


  $(function () {

    var productListHash = createHash({{{ json data.productListItems }}}, 'id').data;
    var user = {{{ json data.user }}};

  function hideResponseMessage() {
    setTimeout(function() {
      $('#succes-message').addClass('hidden');
      $('#failure-message').addClass('hidden');
    }, 10000);
  }

  $('.color-option').click(function () {
    var selectedElm = $(this);
    var isActive = selectedElm.hasClass('active');
    if (isActive) {
      return;
    }

    var selectedColorSlug = selectedElm.attr('data-color-slug');
    var chosenColorText = $('.chosen-color-name');
    var chosenColorCode = $('.chosen-color-code');
    var prevActiveElm = $('.color-option.active');
    var prevActiveElmColorSlug = prevActiveElm.attr('data-color-slug');

    // change active color state
    prevActiveElm.removeClass('active');
    selectedElm.addClass('active');

    //change chosen color text
    chosenColorText.text(selectedElm.attr('data-color-name'));
    chosenColorCode.text(selectedElm.attr('data-color-code'));

    //change color images wrapper
    $('.product-color-images[data-color-images-slug=' + prevActiveElmColorSlug + ']').removeClass('active').addClass('hidden');
    $('.product-color-images[data-color-images-slug=' + selectedColorSlug + ']').removeClass('hidden').addClass('active');


    $('.js-product-slider-normal, .js-click-product-normal').slick('refresh');

  });

  $('input[type=radio][name=size]').change(function () {

    var sizeSlug = this.value;
    var sizeName = $(this).attr('data-size-name');
    var sizePrice = $(this).attr('data-size-price');

    $('#chosen-size-name').removeClass('hidden');
    $('#chosen-size-text').text(sizeName);
    
    sizePrice && $('.product-main-price').text('€' + sizePrice);
    $('.size-details.active').removeClass('active').addClass('hidden');
    $('.size-details[data-size-details-slug=' + sizeSlug + ']').addClass('active').removeClass('hidden');
  });

  $('.other-product-color').click(function () {
    var selectedElm = $(this);
    var selectedColor = $(this).attr('data-other-product-color');
    var isActive = $(this).hasClass('active');
    if (isActive) {
      return;
    }
    var productId = $(this).closest('.product-item').attr('id');
    var activeElm = $('.owl-item.active #' + productId + ' .other-product-color.active');
    activeElm.removeClass('active');
    selectedElm.addClass('active');

    var selectedProductColorImages = productListHash[productId].colors.find(color => color.color_slug === selectedColor).images;
    var productFirstImage = $('.owl-item.active #' + productId + ' .product-first-image');
    var productSecondImage = $('.owl-item.active #' + productId + ' .product-second-image');
    selectedProductColorImages[0] && productFirstImage.attr('src', selectedProductColorImages[0].small_image_link);
    selectedProductColorImages[1] && productSecondImage.attr('src', selectedProductColorImages[1].small_image_link);
  });

  $('.form-customer').submit(function (event) {
    event.preventDefault();

    $.ajax({
      type: 'POST',
      url: `/productUserDemand`,
      contentType: "application/json",
      data: JSON.stringify({
        name: $('#user-name').val(),
        email: $('#user-email').val(),
        message: $('#user-message').val(),
        product_id: $('.single-product-detail').attr('data-product-id')
      }),
      success: function () {
        $('#user-name').val('');
        $('#user-email').val('');
        $('#user-message').val('');

        $('#succes-message').removeClass('hidden');
        hideResponseMessage();

        parent.location.hash = '';
      },
      error: function() {
        $('#failure-message').removeClass('hidden');
        hideResponseMessage();
      }
    });

  });

  $('.wishlist-product').click(function () {
    if(!user) {
      alert('please login first');
      return;
    }

    var _thisElm = $(this);
    var productSlug = _thisElm.attr('data-wishlist-slug');
    var isAlreadyWishlisted = _thisElm.hasClass('active');

    $.ajax({
      type: 'POST',
      url: '/wishlist/' + (isAlreadyWishlisted ? 'itemDelete' : 'itemCreate') + '',
      contentType: "application/json",
      data: JSON.stringify({
        slug: productSlug,
      }),
      success: function (data) {
        window.location.reload();
      }
    });
  });


  });

</script>

{{> footer }}