{{> header }}

<!-- Content -->
<div class=" container-fluid text-center breadcrumb-about">
  <h1 class="submenu">Our Products</h1>
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Shop</li>
  </ul>

</div>


<div class="filter-collection-left hidden-lg hidden-md">
  <a class="btn"><i class="fa fa-asterisk"></i> Filter</a>
</div>

<div class="container container-content">

  <div class="shop-top">
    <div class="shop-element left">
      <ul class="nav nav-pills">

        <li class="{{#ifCond data.query.category '===' undefined}}active{{/ifCond}}"><a
            href="{{getHref data.query 'category' null}}">ALL</a></li>
        {{#each data.categoriesHash.data}}
        <li class="{{#ifCond ../data.query.category '===' slug}}active{{/ifCond}}"><a
            href="{{getHref ../data.query 'category' slug}}">{{name}}</a></li>
        {{/each}}
      </ul>
    </div>

    <div class="shop-element right">

      <span>Showing 1-11 of 11 results</span>
      <!--<span>Showing 1-12 of 40 results</span>-->
      <div class="view-mode view-group">
        <a class="grid-icon col2 active"><i class="zoa-icon-view-3"></i></a>
        <a class="list-icon list"><i class="fa fa-circle" aria-hidden="true"></i></a>
      </div>

    </div>
  </div>

  <div class="tab-content">

    <div id="all" class="tab-pane fade active in">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12 col-left collection-sidebar" id="filter-sidebar">
          <div class="close-sidebar-collection hidden-lg hidden-md">
            <span>Filter</span><i class="icon_close ion-close"></i>
          </div>
          <div class="widget-filter filter-price">
            <div class="pri" style="border-bottom: 1px solid #f3bd1c">
              <h4>FILTER BY PRICE</h4>
              <div id="slider-3"></div>
              <p class="range-p">
                <label for="price">Range:</label>
                <input type="text" id="price"></p>
            </div>
          </div>

          {{#ifCond data.filterHasCategories '===' true}}
          {{#each data.categoriesHash.data}}
          {{#ifCond @key '===' ../data.query.category}}
          <div class="widget-filter filter-category-type">
            <h3>Categories</h3>
            <ul class="nav-home5 js-menubar">
              {{#each children}}
              <li
                class="level1 {{#ifCond ../../data.query.type '===' slug}}active{{/ifCond}} {{#ifCond children.length '>' 0}}dropdown{{/ifCond}}">
                <a href="{{getHref ../../data.query 'type' slug}}" title="">
                  {{name}}
                  <span>{{productsCount}}</span>
                </a>
                {{#ifCond children.length '>' 0}}
                <span class="icon-sub-menu up-icon"></span>
                <ul class="menu-level1 js-open-menu" style="display: block;">
                  {{#each children}}
                  <li class="level2 {{#ifCond ../../../data.query.tag '===' slug}}active{{/ifCond}}"><a href="{{getHref ../../../data.query 'tag' slug}}" title="">{{name}}<span>{{productsCount}}</span></a></li>
                  {{/each}}
                </ul>
                {{/ifCond}}
              </li>
              {{/each}}
            </ul>
          </div>
          {{/ifCond}}
          {{/each}}
          {{/ifCond}}


          <div class="widget-filter filter-cate filter-color margin-5">
            <h3>COLOR</h3>
            <ul>
              {{#each data.colorList}}
              <li><a class="filter-color-item" data-color-slug="{{slug}}"
                  href="{{getHref ../data.query 'color' slug}}">{{name}}<span>{{productsCount}}</span></a></li>
              {{/each}}
            </ul>
          </div>
          <div class="widget-filter filter-cate filter-color bd-top margin-5 no-bd-bottom">
            <h3>SIZE</h3>
            <ul>
              {{#each data.sizeList}}
              <li><a class="filter-size-item" data-size-slug="{{slug}}"
                  href="{{getHref ../data.query 'size' slug}}">{{name}}<span>{{productsCount}}</span></a></li>
              {{/each}}
            </ul>
          </div>
          <div class="widget-filter filter-cate filter-banner no-bd-bottom">
            <a href="" class="effect-img3 plus-zoom">
              <img src="img/banner-sidebar.png" alt="" class="img-responsive">
            </a>
          </div>
          {{#ifCond data.recentViewedProducts.length '>' 0}}
          <div class="widget-filter filter-cate filter-view no-bd-bottom">
            <h3>RECENT VIEWED</h3>
            <div class="owl-carousel owl-theme js-owl-view">
              {{#each data.recentViewedProducts}}
              <div class="view">
                <div class=" product-item flex">
                  <div class="product-img">
                    <a href="{{[0].link}}" target="_blank"><img src="{{[0].colors.[0].images.[0].image_link}}" alt=""
                        class="img-responsive max-width-100"></a>
                  </div>
                  <div class="product-inf">
                    <h3 class="product-title">
                      <a href="{{[0].link}}" target="_blank">{{[0].name}}</a>
                    </h3>
                    <div class="product-price">
                      <span>${{[0].price}}</span>
                    </div>
                  </div>
                </div>
                {{#ifCond [1] '!==' undefined}}
                <div class=" product-item flex">
                  <div class="product-img">
                    <a href="{{[1].link}}" target="_blank"><img src="{{[1].colors.[0].images.[0].image_link}}" alt=""
                        class="img-responsive max-width-100"></a>
                  </div>
                  <div class="product-inf">
                    <h3 class="product-title">
                      <a href="{{[1].link}}" target="_blank">{{[1].name}}</a>
                    </h3>
                    <div class="product-price">
                      <span>${{[0].price}}</span>
                    </div>
                  </div>
                </div>
                {{/ifCond}}
              </div>
              {{/each}}
            </div>
          </div>
          {{/ifCond}}
        </div>



        <div class="col-md-9 col-sm-12 col-xs-12 collection-list">
          <div class="product-collection-grid product-grid ">
            <div class="row">

              {{#each data.productList}}
              <div id="{{id}}" class="col-xs-6 col-sm-4 col-md-4 col-lg-4 product-item">
                <div class="product-img">
                  <a href="/{{slug}}" target="_blank">
                    <img src="{{colors.[0].images.[0].image_link}}" alt=""
                      class="img-responsive wp-post-image product-first-image">
                    <img src="{{colors.[0].images.[1].image_link}}" alt=""
                      class="img-responsive image-effect product-second-image">
                  </a>
                  <div class="product-button-group ">
                    <div class="quick-view">
                      <a href="/{{slug}}" target="_blank">View </a>
                    </div>
                  </div>
                </div>
                <div class="product-info ">
                  <div class="title-heart">
                    <h3 class="product-title">
                      <a href="/{{slug}}" target="_blank">{{name}}</a>
                    </h3>
                    {{#ifCond stock_status '===' 1}}
                    <a class="" title="{{#ifCond isWishlisted '===' undefined}}add to wishlist{{else}}remove item{{/ifCond}}">
                      <span data-wishlist-slug="{{slug}}" class="fa fa-heart{{#ifCond isWishlisted '===' undefined}}-o{{/ifCond}} wishlist-product"></span>
                    </a>
                    {{/ifCond}}
                  </div>
                  <div class="product-price">
                    <span>${{price}}</span>
                  </div>
                  <div class="color-group">
                    {{#each colors}}
                    <a class="product-color circle {{color_slug}} {{#ifCond @index '===' 0}}active{{/ifCond}}"
                      data-product-color="{{color_slug}}"></a>
                    {{/each}}
                  </div>
                  <div class="product-bottom-group">
                    <a href="#" class="zoa-btn zoa-quickview">
                      <span class="zoa-icon-quick-view"></span>
                    </a>
                    <a href="#" class="zoa-btn zoa-wishlist">
                      <span class="zoa-icon-heart"></span>
                    </a>
                  </div>
                </div>
              </div>
              {{/each}}

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script>


  $(function () {

    var productListHash = createHash({{{ json data.productList }}}, 'id').data;
  var queryParams = getQueryParameters();
  var colorParams = queryParams.color && queryParams.color.split(',');
  var sizeParams = queryParams.size && queryParams.size.split(',');

  $('.product-color').click(function () {
    var selectedElm = $(this);
    var selectedColor = $(this).attr('data-product-color');
    var isActive = $(this).hasClass('active');
    if (isActive) {
      return;
    }
    var productId = $(this).closest('.product-item').attr('id');
    var activeElm = $('#' + productId + ' .product-color.active');
    activeElm.removeClass('active');
    selectedElm.addClass('active');

    var selectedProductColorImages = productListHash[productId].colors.find(color => color.color_slug === selectedColor).images;
    var productFirstImage = $('#' + productId + ' .product-first-image');
    var productSecondImage = $('#' + productId + ' .product-second-image');
    selectedProductColorImages[0] && productFirstImage.attr('src', selectedProductColorImages[0].image_link);
    selectedProductColorImages[1] && productSecondImage.attr('src', selectedProductColorImages[1].image_link);
  });


  var currentPrice = getParameterByName('price');
  var maxPriceFilter = 4000;
  var lowPriceFilter = 0;
  var startPrice;
  var endPrice;
  if (!currentPrice) {
    startPrice = lowPriceFilter;
    endPrice = maxPriceFilter;
  }
  else {
    var tmpStartPrice = Number(currentPrice.split('-')[0]);
    var tmpEndPrice = Number(currentPrice.split('-')[1]);
    if (tmpStartPrice >= lowPriceFilter && tmpEndPrice <= maxPriceFilter && tmpStartPrice < tmpEndPrice) {
      startPrice = tmpStartPrice;
      endPrice = tmpEndPrice;
    }
    else {
      startPrice = lowPriceFilter;
      endPrice = maxPriceFilter;
    }
  }

  $('#slider-3').slider({
    range: true,
    min: lowPriceFilter,
    max: maxPriceFilter,
    values: [startPrice, endPrice],
    slide: function (event, ui) {
      $('#price').val(ui.values[0] + '-' + ui.values[1]);
    }
  });

  $('#price').val(startPrice + '-' + endPrice);

  $("#slider-3").on("slidestop", function (event, ui) {
    var newUrl = replaceUrlParam('price', $('#price').val());

    window.location = newUrl;
  });


  $('.filter-color-item').each(function () {
    var colorSlug = $(this).attr('data-color-slug');
    if (queryParams.color && colorParams.includes(colorSlug)) {
      $(this).addClass('active');
    }
  });

  $('.filter-size-item').each(function () {
    var sizeSlug = $(this).attr('data-size-slug');
    if (queryParams.size && sizeParams.includes(sizeSlug)) {
      $(this).addClass('active');
    }
  });

  $('.wishlist-product').click(function () {
    var _thisElm = $(this);
    var productSlug = _thisElm.attr('data-wishlist-slug');
    var isAlreadyWishlisted = _thisElm.hasClass('fa-heart');

    $.ajax({
      type: 'POST',
      url: '/wishlist/' + (isAlreadyWishlisted ? 'itemDelete' : 'itemCreate') + '',
      contentType: "application/json",
      data: JSON.stringify({
        slug: productSlug,
      }),
      success: function (data) {
        window.location.reload();
      }
    });
  });

  

});

</script>

{{> footer }}