{{> header }}

<!-- Content -->
<div class=" container-fluid text-center breadcrumb-about">
  <h1 class="submenu">Our Products</h1>
  <ul class="breadcrumb">
    <li><a href="index.html">Home</a></li>
    <li class="active">Shop</li>
  </ul>

</div>


<div class="filter-collection-left hidden-lg hidden-md">
  <a class="btn"><i class="fa fa-asterisk"></i> Filter</a>
</div>

<div class="container container-content">

  <div class="shop-top">
    <div class="shop-element left">
      <ul class="nav nav-pills">
        <li class="active"><a data-toggle="pill" href="#all">ALL</a></li>
        <li><a data-toggle="pill" href="#all">Women</a></li>
        <li><a data-toggle="pill" href="#all">Men</a></li>
        <li><a data-toggle="pill" href="#all">Kids</a></li>
      </ul>
    </div>
    <div class="shop-element right">
      <span>Showing 1-11 of 11 results</span>
      <!--<span>Showing 1-12 of 40 results</span>-->
      <div class="view-mode view-group">
        <a class="grid-icon col2 active"><i class="zoa-icon-view-3"></i></a>
        <a class="list-icon list"><i class="fa fa-circle" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12 col-left collection-sidebar" id="filter-sidebar">
      <div class="close-sidebar-collection hidden-lg hidden-md">
        <span>Filter</span><i class="icon_close ion-close"></i>
      </div>
      <div class="widget-filter">
        <div class="pri" style="border-bottom: 1px solid #f3bd1c">
          <h4>FILTER BY PRICE</h4>
          <div id="slider-3"></div>
          <p class="range-p">
            <label for="price">Range:</label>
            <input type="text" id="price"></p>
        </div>
      </div>

      <div class="widget-filter">
        <h3>Categories</h3>
        <ul class="nav-home5 js-menubar">
          <li class="level1 active dropdown">
            <a href="#1">Women<span>8</span></a>
            <span class="icon-sub-menu"></span>
            <ul class="menu-level1 js-open-menu">
              <li class="level2"><a href="#1" title="">Dress<span>02</span></a></li>
              <li class="level2"><a href="#1" title="">Scirt<span>02</span></a></li>
              <li class="level2"><a href="#1" title="">Pants<span>03</span></a></li>
              <li class="level2"><a href="#1" title="">Suit<span>01</span></a></li>
            </ul>
          </li>
          <!--<li class="level1 active dropdown">
                    <a href="#1">Men<span>150</span></a>
                    <span class="icon-sub-menu"></span>
                    <ul class="menu-level1 js-open-menu" >
                        <li class="level2"><a href="#1" title="">Shoes</a></li>
                        <li class="level2"><a href="#1" title="">T-shirt</a></li>
                        <li class="level2"><a href="#1" title="">Cap</a></li>
                        <li class="level2"><a href="#1" title="">Fitness & Yoga</a></li>
                        <li class="level2"><a href="#1" title="">Travel & Run</a></li>
                    </ul>
                </li>-->
          <li class="level1 active dropdown">
            <a href="#1">Kids<span>03</span></a>
            <span class="icon-sub-menu"></span>
            <ul class="menu-level1 js-open-menu">
              <li class="level2"><a href="#1" title="">Scirt<span>01</span></a></li>
              <li class="level2"><a href="#1" title="">Boy T-shirt<span>01</span></a></li>
              <li class="level2"><a href="#1" title="">Girl Pant<span>01</span></a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="widget-filter filter-cate filter-color bd-top margin-5">
        <h3>COLOR</h3>
        <ul>
          <li><a class="black" href="">Black<span>04</span></a></li>
          <li><a class="gray" href="">Gray<span>04</span></a></li>
          <li><a class="red" href="">Red<span>01</span></a></li>
          <li><a class="navy-blue" href="">Navy-Blue<span>02</span></a></li>
        </ul>
      </div>
      <div class="widget-filter filter-cate filter-size bd-top margin-5 no-bd-bottom">
        <h3>SIZE</h3>
        <ul>
          <li><a href="#">S<span>04</span></a></li>
          <li><a href="#">M<span>12</span></a></li>
          <li><a href="#">L<span>07</span></a></li>
          <li><a href="#">XL<span>10</span></a></li>
          <li><a class="active" href="">XXL<span>06</span></a></li>
          <li><a href="#">Other<span>05</span></a></li>
        </ul>
      </div>
      <div class="widget-filter filter-cate filter-banner no-bd-bottom">
        <a href="" class="effect-img3 plus-zoom">
          <img src="./statics/images/banner-sidebar.png" alt="" class="img-responsive">
        </a>
      </div>
      <div class="widget-filter filter-cate filter-view no-bd-bottom">
        <h3>RECENT VIEWED</h3>
        <div class="owl-carousel owl-theme js-owl-view">
          <div class="view">
            <div class=" product-item flex">
              <div class="product-img">
                <a href="product-details.html" target="_blank"><img src="./statics/images/product/product_1_first.jpg"
                    alt="" class="img-responsive max-width-100"></a>

              </div>
              <div class="product-inf">
                <h3 class="product-title">
                  <a href="product-details.html" target="_blank">Classy Dress</a>
                </h3>
                <div class="product-price">
                  <span>$124.35</span>
                </div>
              </div>
            </div>
            <div class=" product-item flex">
              <div class="product-img">
                <a href="product-details.html" target="_blank"><img src="./statics/images/product/product_4_first.jpg"
                    alt="" class="img-responsive max-width-100"></a>

              </div>
              <div class="product-inf">
                <h3 class="product-title">
                  <a href="product-details.html" target="_blank">Nice Girl Skirt</a>
                </h3>
                <div class="product-price">
                  <span>$124.35</span>
                </div>
              </div>
            </div>
          </div>
          <div class="view">
            <div class=" product-item flex">
              <div class="product-img">
                <a href="product-details.html" target="_blank"><img src="./statics/images/product/product_5_first.jpg"
                    alt="" class="img-responsive max-width-100"></a>

              </div>
              <div class="product-inf">
                <h3 class="product-title">
                  <a href="product-details.html" target="_blank">Bold Scirt</a>
                </h3>
                <div class="product-price">
                  <span>$124.35</span>
                </div>
              </div>
            </div>
            <div class=" product-item flex">
              <div class="product-img">
                <a href="product-details.html" target="_blank"><img src="./statics/images/product/product_7_first.jpg"
                    alt="" class="img-responsive max-width-100"></a>

              </div>
              <div class="product-inf">
                <h3 class="product-title">
                  <a href="product-details.html" target="_blank">Jeans Shirt</a>
                </h3>
                <div class="product-price">
                  <span>$124.35</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-9 col-sm-12 col-xs-12 collection-list">
      <div class="product-collection-grid product-grid ">
        <div class="row">
          <div class="tab-content">
            <div id="all" class="tab-pane fade active in">

              {{#each data.productList}}
              <div id="{{id}}" class="col-xs-6 col-sm-4 col-md-4 col-lg-4 product-item" >
                <div class="product-img">
                  <a href="/{{slug}}" target="_blank">
                    <img src="{{colors.[0].images.[0].image_link}}" alt="" class="img-responsive wp-post-image product-first-image">
                    <img src="{{colors.[0].images.[1].image_link}}" alt="" class="img-responsive image-effect product-second-image">
                  </a>
                  <div class="product-button-group ">
                    <div class="quick-view">
                      <a href="/{{slug}}" target="_blank">QUICK VIEW </a>
                    </div>
                  </div>
                </div>
                <div class="product-info ">
                  <div class="title-heart">
                    <h3 class="product-title">
                      <a href="/{{slug}}" target="_blank">{{name}}</a>
                    </h3>
                    <span class="zoa-icon-heart"></span>
                  </div>
                  <div class="product-price">
                    <span>${{price}}</span>
                  </div>
                  <div class="color-group">
                    {{#each colors}}
                    <div class="product-color circle {{color_slug}} {{#ifCond @index '===' 0}}active{{/ifCond}}" data-product-color="{{color_slug}}"></div>
                    {{/each}}
                  </div>
                  <div class="product-bottom-group">
                    <a href="#" class="zoa-btn zoa-quickview">
                      <span class="zoa-icon-quick-view"></span>
                    </a>
                    <a href="#" class="zoa-btn zoa-wishlist">
                      <span class="zoa-icon-heart"></span>
                    </a>
                  </div>
                </div>
              </div>
              {{/each}}

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script>


$(function() {

  var productListHash = createHash({{{json data.productList}}}, 'id').data;
  console.log('productListHash: ', productListHash);

  $('.product-color').click(function() {
    var selectedElm = $(this);
    var selectedColor = $(this).attr('data-product-color');
    var isActive = $(this).hasClass('active');
    if(isActive) {
      return;
    }
    var productId = $(this).closest('.product-item').attr('id');
    var activeElm = $('#'+ productId +' .product-color.active');
    activeElm.removeClass('active');
    selectedElm.addClass('active');

    var selectedProductColorImages = productListHash[productId].colors.find(color => color.color_slug === selectedColor).images;
    var productFirstImage = $('#'+ productId +' .product-first-image');
    var productSecondImage = $('#'+ productId +' .product-second-image');
    selectedProductColorImages[0] && productFirstImage.attr('src', selectedProductColorImages[0].image_link);
    selectedProductColorImages[1] && productSecondImage.attr('src', selectedProductColorImages[1].image_link);
  });


});

</script>

{{> footer }}