{{> header }}
<!-- Content -->
<div class=" container-fluid text-center breadcrumb-about">
  <h1 class="submenu">Wishlist Items</h1>
  <ul class="breadcrumb">
    <li><a href="/products">Shop</a></li>
    <li class="active">Wishlist-items</li>
  </ul>

</div>
<div class="container container-content">
  <div class="text-center">
    <div class="content text-center row padding-top-30">
      <h3 class="padding-bottom-20"> Favorite Products</h3>
      <div class="text text-left">
        <p class="text-center">This is the selection of items you like most</p>
        <div class="wishlist-text"></div>
      </div>

    </div>

  </div>

  <div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12 collection-list wishlist-items">
      <div class="product-collection-grid product-grid ">
        <div class="row">

          <div class="col-12">
            {{#each data.wishlistProducts}}
            <div id="{{id}}" class="col-xs-6 col-sm-6 col-md-3 col-lg-3 product-item">
              <div class="product-img">
                <a target="_blank" href="/{{slug}}">
                  <img src="{{colors.[0].images.[0].image_link}}" alt="" class="img-responsive wp-post-image product-first-image">
                  <img src="{{colors.[0].images.[1].image_link}}" alt="" class="img-responsive image-effect product-second-image"></a>
                <div class="product-button-group ">

                  <div class="quick-view">
                    <a target="_blank" href="/{{slug}}">View </a>
                  </div>
                </div>
              </div>
              <div class="product-info ">
                <div class="title-heart">
                  <h3 class="product-title">
                    <a target="_blank" href="/{{slug}}">{{name}}</a>
                  </h3>
                  <a class="" title="remove item">
                    <span data-wishlist-slug="{{slug}}" class="fa fa-heart wishlist-product"></span>
                  </a>
                </div>
                <div class="product-price">
                  <span>${{price}}</span>
                </div>
                <div class="color-group">
                  {{#each colors}}
                  <div class="other-product-color circle {{color_slug}} {{#ifCond @index '===' 0}}active{{/ifCond}}" data-other-product-color="{{color_slug}}"></div>
                  {{/each}}
                </div>
              </div>
            </div>
            {{/each}}
          </div>

        </div>

      </div>
    </div>

  </div>
</div>

<script>
$(function () {

  var productListHash = createHash({{{json data.wishlistProducts}}}, 'id').data;
  var user = {{{ json data.user }}};

  $('.other-product-color').click(function() {
    var selectedElm = $(this);
    var selectedColor = $(this).attr('data-other-product-color');
    var isActive = $(this).hasClass('active');
    if(isActive) {
      return;
    }
    var productId = $(this).closest('.product-item').attr('id');
    var activeElm = $('#'+ productId +' .other-product-color.active');
    activeElm.removeClass('active');
    selectedElm.addClass('active');

    var selectedProductColorImages = productListHash[productId].colors.find(color => color.color_slug === selectedColor).images;
    var productFirstImage = $('#'+ productId +' .product-first-image');
    var productSecondImage = $('#'+ productId +' .product-second-image');
    selectedProductColorImages[0] && productFirstImage.attr('src', selectedProductColorImages[0].image_link);
    selectedProductColorImages[1] && productSecondImage.attr('src', selectedProductColorImages[1].image_link);
  });

  $('.wishlist-product').click(function () {
    if(!user) {
      alert('please login first');
      return;
    }
    
    var _thisElm = $(this);
    var productSlug = _thisElm.attr('data-wishlist-slug');

    $.ajax({
      type: 'POST',
      url: '/wishlist/itemDelete',
      contentType: "application/json",
      data: JSON.stringify({
        slug: productSlug,
      }),
      success: function (data) {
        window.location.reload();
      }
    });
  });
});
</script>

{{> footer }}