<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <title>Piccolo Veliero</title>
  <link rel="shortcut icon" href="../statics/images/favicon.png" type="image/png">
  <link rel="stylesheet" href ="../statics/styles/jquery-ui.css">
  <link rel="stylesheet" href="../statics/styles/owl.carousel.min.css">
  <link rel="stylesheet" href="../statics/styles/slick.css">
  <link rel="stylesheet" href="../statics/styles/slick-theme.css">
  <link rel="stylesheet" href="../statics/styles/owl.theme.default.min.css">
  <link rel="stylesheet" type="text/css" href="../statics/styles/styles.css">

  <script src="../statics/lib/jquery.js"></script>
  <script src="../statics/lib/bootstrap.min.js"></script>
  <script src="../statics/lib/owl.carousel.min.js"></script>
  <script src="../statics/lib/slick.min.js"></script>
  <script src="../statics/lib/countdown.js"></script>
  <script src="../statics/lib/jquery-ui_c2b0c2990b0899f3e3e3d0791bf33206.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnMr64OtHBrpxBLLbYX2K2Waf4enq8sp0&amp;=myMap"></script>
  <script src="../statics/scripts/main.js"></script>

  <script>

    console.log('data: ', {{{json data}}})
  </script>
</head>

<body>
  <!-- push menu-->
  <div class="pushmenu menu-home5">
    <div class="menu-push">
      <span class="close-left js-close"><i class="ion-ios-close-empty f-40"></i></span>
      <div class="clearfix"></div>
      <form role="search" method="get" id="searchform" class="searchform" action="/search">
        <div>
          <label class="screen-reader-text" for="q"></label>
          <input type="text" placeholder="Search for products" value="" name="q" id="q" autocomplete="off">
          <input type="hidden" name="type" value="product">
          <button type="submit" id="searchsubmit"><i class="ion-ios-search-strong"></i></button>
        </div>
      </form>
      <ul class="nav-home5 js-menubar">
        <li class="level1 active dropdown">
          <a href="#">Home</a>
        </li>
        <li class="level1 active dropdown">
          <a href="#">About Us</a>
        </li>
        <li class="level1 active dropdown"><a href="#">Shop</a>
          <span class="icon-sub-menu"></span>
          <div class="menu-level1 js-open-menu">
            <ul class="level1">
              <li class="level2">
                <a href="#">Women</a>
                <ul class="menu-level-2">
                  <li class="level3"><a href="#" title="">Dresses</a></li>
                  <li class="level3"><a href="#" title="">Skirts</a></li>
                  <li class="level3"><a href="#" title="">Pants</a></li>
                </ul>
              </li>
              <li class="level2">
                <a href="#">Men</a>
                <ul class="menu-level-2">
                  <li class="level3"><a href="#" title="">T-shirts</a></li>
                  <li class="level3"><a href="#" title="">Taxido</a></li>
                  <li class="level3"><a href="#" title="">Pants</a></li>
                </ul>
              </li>
              <li class="level2">
                <a href="#">Kids</a>
                <ul class="menu-level-2">
                  <li class="level3"><a href="#" title="">T-shirts</a></li>
                  <li class="level3"><a href="#" title="">Skirts</a></li>
                  <li class="level3"><a href="#" title="">Pants</a></li>
                </ul>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
        </li>
        <!-- <li class="level1">
                    <a href="#">Collections</a>
                    <span class="icon-sub-menu"></span>
                    <ul class="menu-level1 js-open-menu">
                        <li class="level2"><a href="#" title="About Us ">Summer Collection </a></li>
                        <li class="level2"><a href="#" title="Contact">Winter Collection</a></li>
                        <li class="level2"><a href="#" title="Coming Soon">New Collection</a></li>
                    </ul>
                </li>-->
        <li class="level1">
          <a href="#">Contact us</a>
        </li>
      </ul>
      <h4 class="mb-title">Languages</h4>
      <div class="mobile-social mg-bottom-30">
        <a href="#" class="submenu">EN</a>
        <a href="#" class="submenu">FR</a>
        <a href="#" class="submenu">IT</a>
      </div>

    </div>
  </div>

  <!-- end push menu-->


  <!-- Push cart -->
  <div class="pushmenu pushmenu-left cart-box-container">
    <div class="cart-list">
      <div class="cart-list-heading">
        <h3 class="cart-title">My cart</h3>
        <span class="close-left js-close"><i class="ion-ios-close-empty"></i></span>
      </div>
      <div class="cart-inside">
        <div class="cart-bottom">
          <p>No products in the cart</p>
          <div class="cart-button mg-top-30">
            <a class="zoa-btn checkout" href="#" title="">Start Shopping</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End pushcart -->


  <!-- Search form -->
  <div class="search-form-wrapper header-search-form">
    <div class="container">
      <div class="search-results-wrapper">
        <div class="btn-search-close">
          <i class="ion-ios-close-empty"></i>
        </div>
      </div>

      <form method="get" action="/search" role="search" class="search-form  has-categories-select">
        <input name="q" class="search-input" type="text" value="" placeholder="Enter your keywords..."
          autocomplete="off">
        <input type="hidden" name="post_type" value="product">
        <button type="submit" id="search-btn"><i class="ion-ios-search-strong"></i></button>
      </form>
    </div>
  </div>
  <!-- End search form -->


  <!-- Account -->
  <!-- End Account -->

  <!--  Wrappage Start -->
  <div class="wrappage">
    <header id="header" class="header-v2">
      <div class="header-center">
        <div class="container container-content">
          <div class="row flex align-items-center justify-content-between">
            <div class="col-md-4 col-xs-4 col-sm-4 col2 hidden-lg hidden-md">
              <div class="topbar-right">
                <div class="element">
                  <a href="#" class="icon-pushmenu js-push-menu">
                    <svg width="26" height="16" version="1.1" xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 66 41"
                      style="enable-background:new 0 0 66 41;" xml:space="preserve">
                      <style type="text/css">
                        .st0 {
                          fill: none;
                          stroke: #fff !important;
                          stroke-width: 3;
                          stroke-linecap: round;
                          stroke-miterlimit: 10;
                        }
                      </style>
                      <g>
                        <line class="st0" x1="1.5" y1="1.5" x2="64.5" y2="1.5" />
                        <line class="st0" x1="1.5" y1="20.5" x2="64.5" y2="20.5" />
                        <line class="st0" x1="1.5" y1="39.5" x2="64.5" y2="39.5" />
                      </g>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-xs-4 col-sm-4 col2 justify-content-center">
              <a href="#"><img src="../statics/images/logo2.png" alt="" class="img-reponsive"></a>
            </div>
            <div class="col-md-9 col-xs-4 col-sm-4 col2 flex justify-content-end">
              <ul class="nav navbar-nav js-menubar hidden-xs hidden-sm">
                <li class="level1 active"><a href="#">Home</a></li>
                <li class="level1 active"><a href="#">About Us</a></li>
                <li class="level1 active dropdown"><a href="#">Shop</a>
                  <span class="plus js-plus-icon"></span>
                  <div class="menu-level-1 dropdown-menu style5">
                    <ul class="level1">
                      {{#each data.categories}}
                        <li class="level2 col-4">
                          <a href="/category/{{slug}}" class="submenu">{{name}}</a>
                          <ul class="menu-level-2">
                            {{#each children}}
                              <li class="level3"><a href="/category/{{../slug}}/{{slug}}" title="">{{name}}</a></li>
                            {{/each}}
                          </ul>
                        </li>
                      {{/each}}
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                </li>

                <li class="level1 active dropdown">
                  <a href="#">Languages</a>
                  <ul class="dropdown-menu menu-level-1 last-element">
                    <li class="level2"><a href="#" title="">English</a></li>
                    <li class="level2"><a href="#" title="">French</a></li>
                    <li class="level2"><a href="#" title="">Italian</a></li>
                  </ul>
                </li>
              </ul>
              <div class="topbar-left">

                <div class="element element-search ">
                  <a href="#" class="zoa-icon search-toggle">
                    <svg class="search-icon" width="20" height="20" version="1.1" id="Layer_2"
                      xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 90 90" style="enable-background:new 0 0 90 90;" xml:space="preserve">
                      <style type="text/css">
                        .search-icon {
                          fill: none;
                          stroke: #fff !important;
                          stroke-width: 3;
                        }
                      </style>
                      <g>
                        <path d="M0,39.4C0,50,4.1,59.9,11.6,67.3c7.4,7.5,17.3,11.6,27.8,11.6c9.5,0,18.5-3.4,25.7-9.5l19.8,19.7c1.2,1.2,3.1,1.2,4.2,0
        c0.6-0.6,0.9-1.3,0.9-2.1s-0.3-1.5-0.9-2.1L69.3,65.1c6.2-7.1,9.5-16.2,9.5-25.7c0-10.5-4.1-20.4-11.6-27.9C59.9,4.1,50,0,39.4,0
        C28.8,0,19,4.1,11.6,11.6S0,28.9,0,39.4z M63.1,15.8c6.3,6.3,9.8,14.7,9.8,23.6S69.4,56.7,63.1,63s-14.7,9.8-23.6,9.8
        S22.2,69.3,15.9,63C9.5,56.8,6,48.4,6,39.4s3.5-17.3,9.8-23.6S30.5,6,39.4,6S56.8,9.5,63.1,15.8z" />
                      </g>
                    </svg>
                  </a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </header>