<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <title>Piccolo Veliero</title>
  <link rel="shortcut icon" href="../statics/images/favicon.png" type="image/png">
  <link rel="stylesheet" href="../statics/styles/jquery-ui.css">
  <link rel="stylesheet" href="../statics/styles/owl.carousel.min.css">
  <link rel="stylesheet" href="../statics/styles/slick.css">
  <link rel="stylesheet" href="../statics/styles/slick-theme.css">
  <link rel="stylesheet" href="../statics/styles/owl.theme.default.min.css">
  <link rel="stylesheet" type="text/css" href="../statics/styles/styles.css">

  <script src="../statics/lib/jquery.js"></script>
  <script src="../statics/lib/bootstrap.min.js"></script>
  <script src="../statics/lib/owl.carousel.min.js"></script>
  <script src="../statics/lib/slick.min.js"></script>
  <script src="../statics/lib/countdown.js"></script>
  <script src="../statics/lib/jquery-ui_c2b0c2990b0899f3e3e3d0791bf33206.js"></script>
  <script src="../statics/scripts/main.js"></script>

  <script>

    console.log('data: ', {{{ json data }}})
  </script>
</head>

<body>
  <!-- push menu-->
  <div class="pushmenu menu-home5">
    <div class="menu-push">
      <span class="close-left js-close"><i class="ion-ios-close-empty f-40"></i></span>
      <div class="clearfix"></div>
      <form role="search" method="get" id="searchform" class="searchform" action="/search">
        <div>
          <label class="screen-reader-text" for="q"></label>
          <input type="text" placeholder="Search for products" value="" name="q" id="q" autocomplete="off">
          <input type="hidden" name="type" value="product">
          <button type="submit" id="searchsubmit"><i class="ion-ios-search-strong"></i></button>
        </div>
      </form>
      <ul class="nav-home5 js-menubar">
        <li class="level1">
          <a href="/">Home</a>
        </li>
        <li class="level1">
          <a href="/about">About Us</a>
        </li>
        <li class="level1 active dropdown"><a href="/products">Shop</a>
          <span class="icon-sub-menu"></span>
          <div class="menu-level1 js-open-menu">
            <ul class="level1">
              {{#each data.categoriesHash.data}}
              <li class="level2">
                <a href="/products/?category={{slug}}">{{name}}</a>
                <ul class="menu-level-2">
                  {{#each children}}
                  <li class="level3"><a href="/products/?category={{../slug}}&type={{slug}}" title="">{{name}}</a></li>
                  {{/each}}
                </ul>
              </li>
              {{/each}}
            </ul>
            <div class="clearfix"></div>
          </div>
        </li>
        <li class="level1">
          <a href="#">Contact us</a>
        </li>
      </ul>
      {{!-- <h4 class="mb-title">Languages</h4>
      <div class="mobile-social">
        <a href="#" class="submenu">EN</a>
        <a href="#" class="submenu">FR</a>
        <a href="#" class="submenu">IT</a>
      </div> --}}

      <h4 class="mb-title">connect and follow</h4>
      <div class="mobile-social mg-bottom-30">
        <a href=""><i class="fa fa-facebook"></i></a>
        <a href=""><i class="fa fa-twitter"></i></a>
        <a href=""><i class="fa fa-google-plus"></i></a>
      </div>

    </div>
  </div>
  <!-- end push menu-->

  <!-- Push wishlist -->
  <div class="pushmenu pushmenu-left wishlist-box-container">
    <div class="wishlist-list">
      <div class="wishlist-list-heading">
        <h3 class="wishlist-title">My wishlist</h3>
        <span class="close-left js-close"><i class="ion-ios-close-empty"></i></span>
      </div>
      <div class="wishlist-inside">

        <div class="wishlist-bottom">
          <p>Items you like most.</p>
          <div class="view">
            {{#each data.wishlistHeaderProducts}}
            <div class=" product-item flex">
              <div class="product-img">
                <a href="/{{slug}}" target="_blank"><img src="{{colors.[0].images.[0].image_link}}" alt=""
                    class="img-responsive max-width-100"></a>

              </div>
              <div class="product-inf">
                <h3 class="product-title">
                  <a href="/{{slug}}" target="_blank">{{slug}}</a>
                </h3>
                <div class="product-price">
                  <span>${{price}}</span>
                </div>
              </div>
              <div class="product-remove">
                <a class="btn-del" title="remove item" target="_blank"><i class="ion-ios-close-empty"></i></a>
              </div>
            </div>
            {{/each}}
          </div>
          <div class="wishlist-button mg-top-30">
            <a class="zoa-btn checkout btn-wishlist-empty" href="/wishlist-products" title="">View All</a>
          </div>

        </div>
      </div>
    </div>

  </div>
  <!-- End wishlist -->

  <!-- Search form -->
  <div class="search-form-wrapper header-search-form">
    <div class="container">
      <div class="search-results-wrapper">
        <div class="btn-search-close">
          <i class="ion-ios-close-empty"></i>
        </div>
      </div>

      <form method="get" action="/search" role="search" class="search-form  has-categories-select">
        <input name="q" class="search-input" type="text" value="" placeholder="Enter your keywords..."
          autocomplete="off">
        <input type="hidden" name="post_type" value="product">
        <button type="submit" id="search-btn"><i class="ion-ios-search-strong"></i></button>
      </form>
    </div>
  </div>
  <!-- End search form -->

  <!--  Wrappage Start -->
  <div class="wrappage">
    <header id="header" class="header-v6">
      <div class="header-center">
        <div class="container container-content">
          <div class="row flex align-items-center justify-content-between">
            <div class="col-md-4 col-xs-4 col-sm-4 col2 hidden-lg hidden-md padding-top-20">
              <div class="topbar-right">
                <div class="element">
                  <a href="#" class="icon-pushmenu js-push-menu">
                    <svg width="26" height="16" version="1.1" xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 66 41"
                      style="enable-background:new 0 0 66 41;" xml:space="preserve">
                      <style type="text/css">
                        .st0 {
                          fill: none;
                          stroke: #fff;
                          stroke-width: 3;
                          stroke-linecap: round;
                          stroke-miterlimit: 10;
                        }
                      </style>
                      <g>
                        <line class="st0" x1="1.5" y1="1.5" x2="64.5" y2="1.5" />
                        <line class="st0" x1="1.5" y1="20.5" x2="64.5" y2="20.5" />
                        <line class="st0" x1="1.5" y1="39.5" x2="64.5" y2="39.5" />
                      </g>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-xs-4 col-sm-4 col2 justify-content-center">
              <a href="#"><img src="../statics/images/logo2.png" alt="" class="img-reponsive"></a>
            </div>
            <div class="col-md-9 col-xs-4 col-sm-4 col2 flex justify-content-end padding-top-20">
              <ul class="nav navbar-nav js-menubar hidden-xs hidden-sm">
                <li class="level1"><a href="/">Home</a>

                </li>
                <li class="level1"><a href="/about">About Us</a>

                </li>
                <li class="level1 active dropdown"><a href="/products">Shop</a>
                  <span class="plus js-plus-icon"></span>
                  <div class="menu-level-1 dropdown-menu style5">
                    <ul class="level1">
                      {{#each data.categoriesHash.data}}
                      <li class="level2 col-4">
                        <a href="/products/?category={{slug}}" class="submenu">{{name}}</a>
                        <ul class="menu-level-2">
                          {{#each children}}
                          <li class="level3"><a href="/products/?category={{../slug}}&type={{slug}}"
                              title="">{{name}}</a></li>
                          {{/each}}
                        </ul>
                      </li>
                      {{/each}}
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                </li>

                <li class="level1">
                  <a href="/contact">Contact Us</a>

                </li>
                {{!-- <li class="level1">
                  <a href="#">Languages</a>
                  <ul class="dropdown-menu menu-level-1 mobile-social">
                    <li class="level2"><a href="#" title="En">English </a></li>
                    <li class="level2"><a href="#" title="Fr">French</a></li>
                    <li class="level2"><a href="#" title="It">Italian</a></li>
                  </ul>
                </li> --}}
              </ul>
              <div class="topbar-left">


                <div class="element element-wishlist">
                  <a class="zoa-icon icon-wishlist">
                    <i class="fa fa-heart-o wishlist"></i>
                    <span class="count cart-count">{{data.wishlistItemsLength}}</span>
                  </a>
                </div>

                <div class="element element-search hidden-xs hidden-sm">
                  <a class="zoa-icon search-toggle">
                    <i class="fa fa-2x fa-search"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>